body {
    background-color: var(--light);
}

#currentVoice {
    width: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
    height: 40%;
    background-color: var(--dark);
}

#joinRooms {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: calc(100% - 40%);
}

h1 {
    font-family: var(--dmsans);
}

.dft-user {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    color: white;
    background-color: var(--mid);
    font-size: 17px;
    text-align: center;
    border: none;
    font-family: var(--dmsans);
    margin-right: 10px;
    border: 5px solid transparent;
}

#voice-controls {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    text-align: center;
}

.vcBtn {
    cursor: pointer;
    vertical-align: middle;
}

#connectToRoomBtn {
    font-family: var(--dmsans);
    background-color: var(--dark);
    border: 1px solid var(--dark);
    color: white;
    height: 50px;
    width: 150px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 3px;
}

input {
    font-family: var(--dmsans);
    height: 30px;
    width: 200px;
    padding-left: 8px;
    font-size: 15px;
    outline: 0;
}